@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    padding: 0 1.5rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    max-width: 1024px;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

/* Nav bar styling: */

.heading {
    color: #A533FF;
}

.heading-wrapper {
    padding: 1rem;
}

#nav-links {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

#nav-links a {
    text-decoration: none;
    color: #DDBBFF;
}

#nav-links a:hover {
    color: #A533FF;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    max-width: 1024px;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

.sub-heading {
    color: #FF7700;
    font-size: 1.2rem;
    margin: auto;
}

/* Nav border panel */

.panel-wrapper-top {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.border-bottom1 {
    height: 1.8vh;
    width: 40%;
    background-color: #7788FF;
}

.border-bottom2 {
    height: 1.8vh;
    width: 3%;
    background-color: #FF7700;
}

.border-bottom3 {
    height: 1.8vh;
    width: 17%;
    background-color: #CC88FF;
}

.border-bottom4 {
    height: 1.8vh;
    width: 35%;
    background-color: #CC88FF;
}

.border-bottom5 {
    height: 1.8vh;
    width: 5%;
    background-color: #DD4444;
}

/* Main content styling: */

.landing-intro {
    display: flex;
    flex-direction: column;
    gap: 3em;
    color: #FFAA90;
    font-size: 1.2rem;
    width: 100%;
}

.landing-background {
    margin: auto;
    width: 80%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    opacity: 0.5;
}

/* LCARS footer border panel */

.panel-wrapper-bottom {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
}

.border-top1 {
    height: 1.8vh;
    width: 40%;
    background-color: #DD4444;
}

.border-top2 {
    height: 1.8vh;
    width: 3%;
    background-color: #FFAA90;
}

.border-top3 {
    height: 0.6vh;
    width: 17%;
    background-color: #DD4444;
}

.border-top4 {
    height: 1.8vh;
    width: 35%;
    background-color: #CC88FF;
}

.border-top5 {
    height: 1.8vh;
    width: 5%;
    background-color: #FFAA90;
}

footer {
    background-color: black;
    display: flex;
    width: 100%;
    text-align: center;
    color: #A533FF;
    justify-content: center;
    position: fixed;
    bottom: 0;
    flex-wrap: wrap;
    max-width: 1024px;
    padding-bottom: 1rem;
}