* {
    background-color: black;
    font-family: 'Antonio', sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #A533FF;
}

.sub-heading {
    color: #FFAA90;
    font-size: 1.2rem;
    margin: auto;
}

.intro-text {
    color: #FFAA90;
    font-size: 1.2rem;
    max-width: 60%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: #FFAA90;
    text-align: center;
    padding-top: 0.5rem;
    border-top: 2px solid black;
}

.landing-background {
    margin: auto;
    width: 50vw;
    height: 100vh;
    display: block;
}

.panel-wrapper {
    display: flex;
    gap: 0.5rem;
    width: 100vw;
    margin-bottom: 3em;
    position: relative;
}

.border-bottom1 {
    height: 1.8vh;
    width: 40vw;
    background-color: #7788FF;
}

.border-bottom2 {
    height: 1.8vh;
    width: 2vw;
    background-color: #FF7700;
}

.border-bottom3 {
    height: 1.8vh;
    width: 10vw;
    background-color: #CC88FF;
}

.border-bottom4 {
    height: 1.8vh;
    width: 20vw;
    background-color: #CC88FF;
}

.border-bottom5 {
    height: 1.8vh;
    width: 20vw;
    background-color: #DD4444;
}