@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    margin: 0;
}

.flex-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    margin: 0 10%;
    flex-wrap: wrap;
}

h1 {
    color: #A533FF;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

#nav-links {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

#nav-links a {
    text-decoration: none;
    color: #DDBBFF;
}

.sub-heading {
    color: #FF7700;
    font-size: 1.2rem;
    margin: auto;
}

.landing-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    padding-top: 5rem;
}

.intro-text {
    color: #FFAA90;
    font-size: 1.2rem;
    max-width: 60%;
    margin: auto;
}

.flex-footer {
    background-color: black;
    display: flex;
    width: 100%;
    text-align: center;
    color: #A533FF;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-background {
    margin: auto;
    width: 60vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    opacity: 0.5;
}

.panel-wrapper-top {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

/* LCARS nav border panel, takes up 74vw */

.border-bottom1 {
    height: 1.8vh;
    width: 40vw;
    background-color: #7788FF;
}

.border-bottom2 {
    height: 1.8vh;
    width: 1.5vw;
    background-color: #FF7700;
}

.border-bottom3 {
    height: 1.8vh;
    width: 10vw;
    background-color: #CC88FF;
}

.border-bottom4 {
    height: 1.8vh;
    width: 20vw;
    background-color: #CC88FF;
}

.border-bottom5 {
    height: 1.8vh;
    width: 2.5vw;
    background-color: #DD4444;
}

/* LCARS footer border panel, takes up 74vw */

.border-top1 {
    height: 1.8vh;
    width: 40vw;
    background-color: #DD4444;
}

.border-top2 {
    height: 1.8vh;
    width: 3vw;
    background-color: #FFAA90;
}

.border-top3 {
    height: 0.6vh;
    width: 14vw;
    background-color: #DD4444;
}

.border-top4 {
    height: 1.8vh;
    width: 12vw;
    background-color: #CC88FF;
}

.border-top5 {
    height: 1.8vh;
    width: 5vw;
    background-color: #FFAA90;
}

.panel-wrapper-bottom {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}